 * {
  margin: 0; 
  padding: 0;
}

body {
	height: 100%;
	width: 100%;
  font-family: 'Roboto', arial;
  font-size: 13px;
  color: #757575;
}

h1 {
  font-family: lemon-milk-light, arial; 
  font-size: 3em;
  width: 100%; 
  position: absolute;
  top: 65px; 
}

h2 {
  font-size: 1.5em;
  font-family: lemon-milk-light, arial;
  margin-bottom: 10px;
  position: relative;
  color: #ffe082;
}

h3 {
  font-size: 15px;
}

a {
  all: unset;
}

li {
  list-style-type: none;
}
/**=====================================================================**/

/**=========================== font-family =============================**/
@font-face {
  font-family: lemon-milk;
  src: url(fonts/lemon_milk/LemonMilk.otf);
}

@font-face {
  font-family: lemon-milk-light;
  src: url(fonts/lemon_milk/LemonMilklight.otf);
}

@font-face {
  font-family: lemon-milk-light-italic;
  src: url(fonts/lemon_milk/LemonMilklightitalic.otf);
}

@font-face {
	font-family: 'black-jack';
	src: url(fonts/black-jack/black-jack.ttf);
}
/**=====================================================================**/

/**================================ icons ==============================**/
@font-face {
  font-family: "helene-resume";
  src:url("fonts/icons/helene-resume.eot");
  src:url("fonts/icons/helene-resume.eot?#iefix") format("embedded-opentype"),
    url("fonts/icons/helene-resume.woff") format("woff"),
    url("fonts/icons/helene-resume.ttf") format("truetype"),
    url("fonts/icons/helene-resume.svg#helene-resume") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "helene-resume" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "helene-resume" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\61";
}
.icon-github:before {
  content: "\62";
}
.icon-codepen:before {
  content: "\63";
}
.icon-linkedin:before {
  content: "\64";
}
.icon-email:before {
  content: "\65";
}
.icon-phone:before {
  content: "\66";
}
.icon-languages:before {
  content: "\6f";
}
.icon-music:before {
  content: "\71";
}
.icon-work:before {
  content: "\42";
}
.icon-laptop:before {
  content: "\69";
}
.icon-work-1:before {
  content: "\6e";
}
.icon-cooking:before {
  content: "\75";
}
.icon-validated:before {
  content: "\76";
}
.icon-travel:before {
  content: "\67";
}
.icon-hiking:before {
  content: "\68";
}
.icon-graduation:before {
  content: "\6a";
}
.icon-management:before {
  content: "\6b";
}
.icon-blocked:before {
  content: "\6d";
}
.icon-close:before {
  content: "\6c";
}
/**=====================================================================**/

/**============================= side menu =============================**/
.side-menu {
  height: 16em;
  width: 1em;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 10;
}

.side-menu__circle {
  position: relative;
  top: 0%;
  left: 0%;
  height: 12px;
  width: 12px;
  padding: 2px;
  display: block;
  margin-bottom: 15px;
  border-radius: 1em;
  box-shadow: 0px 0px 7px rgba(128,128,128, 0.5);
  opacity: 0.7;
  background-color: white;
  transition: 0.3s ease-in-out;
}

.side-menu__text {
  width: max-content;
  color: grey;
  font-family: lemon-milk-light, arial; 
  text-align: right;
  position: absolute;
  right: 190%;
  top: 0%;
  text-align: right;
  transition: 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: translateX(1em);
}

.side-menu__circle:hover, .active {
  opacity: 1;
  background-color: #FFD54F;
}

.side-menu__circle:hover .side-menu__text {
  opacity: 0.7;
  transform: translateX(0em);
  visibility: visible;
}
/**=============================== section =============================**/
section {
  position: relative;
  height: 100vh;
  padding-left: 15%;
  padding-right: 15%;
  transition: 0.3s ease-in-out;
}
/**=====================================================================**/

/**=============================== home ================================**/
.home {
  background: url(pictures/pictures-background/home-background-2.png);
  background-repeat: no-repeat;
	background-size: cover;
  background-position: right top;
  overflow: hidden;
}

.home::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 15%;
  width: 0em;
  border: 5em solid #f4f4f4;
  border-bottom-color: transparent;
}

.home__notebook--picture {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 26em;
  z-index: -1;
}
.home__notebook {
  width: 26em;
  height: 36em;
  position: absolute;
  top: -2%;
  right: -8%;
  color: #676257;
  font-family: 'black-jack', arial;
  font-weight: 900;
  font-size: 1em;
  transform: rotate(-20deg);
}

.home__notebook--text-wrapper {
  height: 26em;
  width: 20em;
  position: absolute;
  left: 7%;
  top: 12%;
}

.home__notebook--name {
  position: relative;
  font-size: 40px;
}

.home__notebook--job {
  position: relative;
  margin-bottom: 16px;
  font-size: 1.9em;
}

.icon-home {
  height: 15px;
  width: 15px;
  top: 2px;
  display: inline-block;
  position: relative;
}

.home__notebook--contact {
  position: relative;
  top: 0%;
  font-size: 1.2em;
  line-height: 8px;
}

.home__notebook--contact li {
  cursor: pointer;
}


.home__title--icon-contact-text {
  transition: 0.3s ease-in-out;
}


.home__title--icon-contact-text:hover {
  color: #ffe082; 
} 

.home__title--icon-contact-text i {
  font-size: 20px;
  height: 20px;
  margin-right: 13px;
  margin-top: 10px;
}

.home__notebook--social-links {
  margin-top: 20px; 
}

.home__notebook--social-links li {
  height: 1em;
  width: 1em;
  display: inline-block;
  font-size: 4em;
  margin-top: 12px;
  margin-left: 7px;
  position: relative;
  transition: 0.3s ease-in-out;
}

.home__notebook--social-links li:hover {
  color: #ffe082; 
}

.home__button-wrapper {
  height: 100%; 
  width: 100%;
}

.home__button {
  border: 0.2em solid white;
  border-radius: 10em;
  cursor: pointer;
  box-sizing: border-box;
  font-family: lemon-milk, arial;
  font-size: 1.9em;
  color: white;
  text-align: center;
  text-shadow: 1px 0px grey;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.3s ease-in-out;
  overflow:hidden;
}

.home__button:hover {
	border-color: #ffe082;
}

.home__button--text {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translateX(-50%);
  height: 45%;
  width: 80%;
  /* line-height: 23px; */
}

.home-about-me-block {
	height: 6.5em;
  width: 6.5em;
  top: 28%;
	left: 22%;
}

.home-about-me-block::before {
  content: url('pictures/pictures-home/helene-andre-picture-mini.png');
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: 0.3s ease-in-out;
}

.home-projects-block {
	height: 9em;
  width: 9em;
  top: 40%;
  left: 42%;
}

.home-projects-block::before {
  content: url('pictures/pictures-home/projects.png');
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: 0.3s ease-in-out;
}

.home-skills-block {
	height: 7em;
  width: 7em;
  top: 72%;
  left: 52%;
}

.home-skills-block::before {
  content: url('pictures/pictures-home/skills.png');
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: 0.3s ease-in-out;
}

.home-xp-block {
	height: 5em;
  width: 5em;
  top: 59%;
  left: 21%;
}

.home-xp-block::before {
  content: url('pictures/pictures-home/xp.png');
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: 0.3s ease-in-out;
}

.home-hobbies-block {
  height: 6em;
  width: 6em;
  top: 82%;
  left: 33%;
  font-size: 1.5em;
}

.home-hobbies-block::before {
  content: url('pictures/pictures-home/hobbies.png');
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: 0.3s ease-in-out;
}

.home-hobbies-block .home__button--text {
  font-size: 16px;
  position: absolute;
  top: 22%;
}

.home-contact-block {
  height: 7em;
  width: 7em;
  top: 49%;
  left: 66%;
  font-size: 1.5em;
}

.home-contact-block::before {
  content: url('pictures/pictures-home/contact.png');
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: 0.3s ease-in-out;
}

.home-about-me-block:hover:before, 
.home-projects-block:hover:before, 
.home-skills-block:hover:before, 
.home-xp-block:hover:before, 
.home-hobbies-block:hover:before, 
.home-contact-block:hover:before {
  transform: scale(1.1);
}
/**=====================================================================**/

/**============================= about-me ==============================**/
.about-me {
  height: 90vh; 
}

.about-me__title-wrapper {
  width: auto;
  position: absolute;
  top: 20%;
}

.about-me::before {
  content: "";
  position: absolute;
  top: 0%;
  height: 0em;
  width: 0em;
  border: 4em solid #f4f4f4;
  border-bottom-color: transparent;
}
.about-me__name {
  color: #ffe082;
  position: relative;
  top: 0%; 
  margin-top: 15px;
}

.about-me__job-title {
	color: #757575;
	font-family: lemon-milk-light-italic, arial;
  font-size: 2em;
  margin-top: 10px;
}

.about-me__picture {
  position: absolute;
  top: 20%;
  right: 0%;
  border-radius: 25em;
  width: 25%;
  min-width: 6em;
  max-width: 17em;
}

.about-me__text {
  position: absolute;
  bottom: 8%; 
  height: auto;
  width: 100%;
  background-color: transparent;
  color: #7c796f;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1em;
  font-family: 'Roboto', arial;
  font-weight: 300;
  text-align: justify;
  padding-top: 1em;
}

.about-me__text::before {
	content:"About Me";
  position: absolute;
  font-size: 15px;
	font-family: lemon-milk-light-italic, arial;
	bottom: 110%;
}
/**=====================================================================**/

/**============================ projects ===============================**/
.projects {
  background-color: #ffe082;
  height: 90vh;
}

.projects::before {
  content: "";
  position: absolute;
  top: 0%;
  right: 15%;
  height: 0em;
  width: 0em;
  border: 2em solid white;
  border-bottom-color: transparent;
}

.projects__title {
	color: white;
  text-align: right;
}

.projects__wrapper {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
}

.project {
  height: 220px; 
  width: 221px;
  margin-top: 10px; 
}

.project__button--title {
  width: 30%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background-color: rgba(0,0,0, 0.3);
  opacity: 0; 
  transition: 0.3s ease-in-out;
}

.project__button--picture {
  height: 100%; 
  width: 100%; 
  transition: 0.3s ease-in-out;
}

.project__button:hover .project__button--picture {
  opacity: 0.6; 
} 

.project__button:hover .project__button--title {
  opacity: 1; 
  z-index: 1; 
}

.project::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.2);
  position: relative;
}

.project__description {
  height: auto;
  width: 225px;
  padding: 15px;
  background-color: white;
  text-align: left;
  position: absolute;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.project__description::before {
  content: "";
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-bottom-color: white;
  position: absolute;
  bottom: 100%;
  left: 18%;
}

.project__description--close {
  height: 14px;
  width: 14px; 
  font-size: 14px;  
  color: red; 
  transition: 0.3s ease-in-out;
}

.project__description--close:hover {
  transform: rotate(360deg) scale(1.2);
}
/**=====================================================================**/

/**============================= skills ================================**/
.skills {
  background-color: white;
}

.skills::after {
	content: "";
	position: absolute;
	top: 0%;
	left: 15%;
	height: 0em;
	width: 0em;
	border: 2em solid #ffe082;
	border-bottom-color: transparent;
}

.skills__title {
	color: #ffe082;
}

.skills__element--wrapper {
  height: 11em;
  width: 100%;
  color: #757575;
  display: flex;
  justify-content: space-between;
}


.skills__text {
  width: 70%;
  padding-top: 40px;
}

.skills__text--management {
  text-align: right;
}

.skills__icon {
  font-family: 'helene-resume';
  position: relative;
  width: 200px;
  font-size: 13em;
  color: #eeeeee;
}

.skills__icon:hover .icon {
  color: #eeeeee;
  cursor: default; 
}

.icon-laptop, .icon-languages {
  margin-right: 40px;
}

.icon-management {
  margin-left: 40px;
}
/**=====================================================================**/

/**============================ experience =============================**/
.xp {
  background-color: #ffe082;
  height: 280vh;
}

.xp::after {
	content: "";
	position: absolute;
	top: 0%;
	right: 15%;
	height: 0em;
	width: 0em;
	border: 2em solid white;
	border-bottom-color: transparent;
}

.xp__title {
	color: white;
  text-align: right;
}

/* Timeline.  */
.xp__wrapper::before {
  content: '';
  height: 124em;
  width: 0.2em;
  background-color: white;
  position: absolute;
  left: 50%;
  top: -1%;
  transform: translateX(-50%);
}

.xp__container-left, 
.xp__container-right {
  height: auto;
  width: 100%;
  background-color: transparent;
  position: relative;
  padding-bottom: 15em;
  color: #757575;
}

.xp__container-left {
  text-align: right; 
}

.xp h2 {
  color: black;
}

.xp__container-left--text, 
.xp__container-right--text {
  height: auto;
  width: 38%;
  float: left;
  background-color: white;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.xp__container-left--text {
  left: 0%;
}

.xp__container-right--text {
  right: 0%;
}

/* Dot on the timeline. */
.xp__container-right--text::after, 
.xp__container-left--text::after {
  content: '';
  height: 0px;
  width: 0px;
  border: 12px solid transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.xp__container-left--text::after {
  border-left-color: white;
  left: 100%; 
}

.xp__container-right--text::after {
  border-right-color: white;
  right: 100%;
}

/* Arrows on the text boxes. */
.xp__container-right::before, 
.xp__container-left::before {
  content: '';
  height: 1.3em;
  width: 1.3em;
  background-color: #e0e0e0;
  border: 3px solid white;
  border-radius: 15px;
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(-50%,-50%);
}

.xp__container-left--date, 
.xp__container-right--date {
  color: white;
  font-family: lemon-milk;
  font-size: 1.5em; 
  width: 6em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.xp__container-left--date {
  right: -59%;
}

.xp__container-right--date {
  left: -59%;
}

.text__details {
  display: none;
}
/**=====================================================================**/

/**======================= sports & interests ==========================**/
.hobbies {
  background-color: #4fc3f7;
  height: 80vh;
}

.hobbies::after {
	content: "";
	position: absolute;
	top: 0%;
	left: 15%;
	height: 0em;
	width: 0em;
	border: 2em solid white;
	border-bottom-color: transparent;
}

.hobbies__title {
	color: white;
}

.hobbies__wrapper {
  display: flex;
  justify-content: space-between;
}

.hobbies__element--icon {
  font-size: 9vw;
  color: white;
  margin: 0px;
}

.hobbies__element--icon:hover ~ div {
  opacity: 1;
  z-index: 1;  
}

.hobbies__element--text {
  height: auto;
  width: 225px;
  padding: 15px;
  background-color: white;
  text-align: left;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}

.hobbies__element--text h3 {
  color: black;
  margin-bottom: 10px;
}

.hobbies__element--text::after {
  content: "";
  height: 0px; 
  width: 0px; 
  border: 10px solid transparent; 
  border-bottom-color: white;
  position: absolute;
  bottom: 100%;
  left: 18%;
}
/**=====================================================================**/

/**================ div separation hobbies / contact ===================**/
.container svg {
  display: block;
}

svg {
  width: 100%; 
  max-height: 100px; 
  left: 0%;
}

svg:not(:root) {
  overflow: hidden;
}

#clouds {
  position: absolute;
  bottom: 100%; 
}

#clouds path {
  fill: white;
  stroke: white;
}
/**=====================================================================**/

/**============================== contact ==============================**/
.contact {
  background-color: white;
  height: 70vh;
  padding-bottom: 4em;
}

.contact-info__wrapper {
  width: 25%;
  height: 25em;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin: 20px;
}

.contact-info {
  width: 20em;
  height: 15em;
  position: absolute;
  top: -7%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 360%;
}

.contact-info__title {
	position: relative;
	color: #4fc3f7;
	margin-top: 0.1em;
  margin-bottom: 0.5em;
  letter-spacing: 2px;
  top: 0%; 
}

.contact-info__name {
	font-family: 'Roboto', arial;
	color: #4fc3f7;
  letter-spacing: 1px;
}

.contact-info__icons-wrapper {
	font-size: 2em;
	height: 38px;
	color: #4fc3f7;
	margin-top: 1em;
  letter-spacing: 11px;
}

.contact-info__icon:hover {
	color: #757575;
}

.contact-form__wrapper {
  width: 24em;
  height: 31em;
  position: absolute;
  margin: 20px;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.contact-form__field-wrapper {
  width: 24em;
  margin-bottom: 11%;
  position: relative;
}

textarea {
  resize: none;
}

input {
	color: #190e0b;
}

.contact-form__field, #send-button-wrapper {
  width: 94%;
  background-color: #f5f5f5;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in-out;
  font-family: 'Roboto', arial;
  font-size: 14px;
  padding: 4%;
}

#send-button-wrapper {
  background-color: transparent; 
}

.contact-form__field:focus {
  border-color: #4fc3f7;
}

.invalid-field-message, .invalid-email-message { 
  font-style: italic;
  font-size: 12px; 
  padding-top: 2px; 
  color: #e53935; 
  position: absolute;
  top: 100%;
  margin-top: 3px;
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.invalid-field .invalid-field-message,
.invalid-email .invalid-email-message {
  opacity: 1; 
  z-index: 1;
}

.invalid-field input, 
.invalid-email input, 
.invalid-field textarea,
.invalid-field input:focus, 
.invalid-email input:focus, 
.invalid-field textarea:focus,
.contact__failed-message, 
.icon-blocked:hover{
  border-color: #e53935;
}

.correct-field input, 
.correct-field textarea,
.correct-field input:focus, 
.correct-field textarea:focus, 
.contact__success-message,
.icon-success:hover {
  border-color: #81c784;
}

.contact__success-message, 
.contact__failed-message {
  height: 45%;
  width: 100%;
  font-size: 20px;
  background-color: rgba(255,255,255, 0.8);
  text-align: center;
  padding-top: 150px;
  padding-bottom: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

p {
  color: #757575; 
  font-size: 13px; 
  margin-top: 15px;
}

.icon-blocked,
.icon-success {
  font-size: 75px;
}

.icon-success,
.contact__success-message div {
  color: #81c784;
}

.icon-blocked,
.contact__failed-message div {
  color: #e53935;
}

.show {
  opacity: 1; 
  z-index: 1;
}

#send-button {
  width: 4em;
  font-size: 1em;
  font-family: 'Roboto', arial;
  color: #4fc3f7;
  border: 1px solid #4fc3f7;
  padding: 3px 7px;
  outline: none;
  transition: 0.3s ease-in-out;
  position: absolute;
  right: -2%;
  top: 97%;
}

#send-button:hover {
  cursor: pointer;
  opacity: 1;
  color: #757575;
  border-color: #757575;
} 
/**=====================================================================**/

/**========================= onScroll animation ========================**/
.section-wrapper {
  position: relative;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translateY(2em);
  transition: 1s ease-out 0.5s;
}

.sub-section-wrapper {
  width: 100%;
  position: absolute;
  top: 200px; 
  background-color: red; 

}

.scroll {
  opacity: 1;
  transform: translateY(0em);
}

.move-up {
  opacity: 1;
  transform: translateY(0em);
}
/**=====================================================================**/

/**============================ media queries ==========================**/
@media screen and (max-width: 1160px) {

}

@media screen and (max-width: 960px) {
  
  /* Contact section. */
  .contact-form__field, #send-button-wrapper {
    width: 77%; 
  }
  
  #send-button {
    right: 15%;
  }

  .contact-info__title {
    font-size: 2em; 
  }

  .contact-info__icons-wrapper {
    letter-spacing: 0px; 
  }

  /* Projects section. */
  .projects {
    height: 100vh; 
  }
  
  .projects__wrapper {
    justify-content: unset; 
  }

  .project {
    margin-left: 10px;
  }
}

@media screen and (max-width: 850px) {
  /* Home section.  */
  .home__button {
    width: 95px;
    height: 95px;
  }

  .home__button--text, .home-hobbies-block .home__button--text {
    font-size: 13px; 
    top: 50%; 
    transform: translate(-50%,-50%);
  }


}

@media screen and (max-width: 700px) {

  /* Projects section. */
  .projects {
    height: 140vh; 
  }
  
  /* Contact section. */
  .contact-info__name {
    width: 8em; 
  }

}

@media screen and (max-width: 620px) {
  /* Whole page. */
  h1, .about-me__name, .about-me__job-title {
    font-size: 20px; 
  } 
  
  /* Home section.  */
  .home__button {
    width: 95px;
    height: 95px;
    position: relative;
    top: 60%;
    left: 20%;
    display: inline-flex;
  }

  .hobbies__wrapper {
    flex-direction: column;
    font-size: 56px;
    top: 120px; 
  }

  .hobbies__element--text::after {
    border-right-color: white;
    border-bottom-color: transparent;
    left: -8%;
    bottom: 55%;
  }
  
  /* Projects section. */
  .projects__wrapper {
    flex-direction: column; 
  }
}


@media screen and (max-width: 320px) {

  /* Home section. */
  .home__button {
    width: 70px;
    height: 70px;
    top: 73%;
  }

  .about-me {
    height: 120vh; 
  }

  .about-me__text::before {
    bottom: 100%;
  }
  
  .about-me__picture {
    top: 37%; 
  }
}




@media screen and (max-height: 430px) {

  /* Home section. */
  .home__button {
    width: 95px;
    height: 95px;
    position: relative;
    top: 78%;
    left: 10%;
    display: inline-flex;
  }

  .home__button--text {
    font-size: 13px; 
  }


}
/**=====================================================================**/